<%- include("partials/header"); -%>
  <div class="container" id="about-div">
    <img id="about-img" src="https://media-exp1.licdn.com/dms/image/C5103AQFCp-XEud25ZA/profile-displayphoto-shrink_800_800/0/1553687770205?e=1636588800&v=beta&t=WPuPesNw0IjNQna7Wnw3d9SMbVKzFRS7Ds5zxLOpYew" alt="">
    <h1 class="post-title">About</h1>
    <p class="post-content"> <%= aboutContent %> </p>
  </div>
<%- include("partials/footer"); -%>
